app-network-adapters/app-network-assets/src/main/resources/wsdl/Multicert.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.multicert.com/Multicert/" xmlns:mcb="http://www.multicert.com/MulticertCommonTypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="Multicert" targetNamespace="http://www.multicert.com/Multicert/">
	<wsdl:types>
		<!-- This is a copy from the common assets XSD -->
		<xsd:schema elementFormDefault="qualified"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.multicert.com/MulticertCommonTypes">

			<xsd:complexType name="Cliente" >
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="nif"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="nome"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="morada"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="telefone"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="VOID">
			    <xsd:sequence>
			    </xsd:sequence>
			</xsd:complexType>
			
		</xsd:schema>
		<!-- END This is a copy from the common assets XSD END -->
		<xsd:schema targetNamespace="http://www.multicert.com/Multicert/">
			
			
			<!-- GUARDAR CLIENTE -->	
			<xsd:element name="guardarCliente">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="nif"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="nome"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="morada"
							type="xsd:string" />
						<xsd:element minOccurs="0" maxOccurs="1" name="telefone"
							type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="guardarClienteResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" maxOccurs="1" type="mcb:Cliente" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- LISTAR CLIENTEs COM NOME -->
			<xsd:element name="listarClientesComNome">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="0" maxOccurs="1" name="nome" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarClientesComNomeResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" maxOccurs="unbounded" type="mcb:Cliente" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<!-- LISTAR CLIENTEs -->
			<xsd:element name="listarClientes">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" maxOccurs="0" type="mcb:VOID" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarClientesResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" maxOccurs="unbounded" type="mcb:Cliente" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			
			<!-- LISTAR CLIENTEs COM NIF -->
			<xsd:element name="listarClientesComNif">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element minOccurs="1" maxOccurs="1" name="nome" type="xsd:string" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="listarClientesComNifResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Cliente" maxOccurs="1" type="mcb:Cliente" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	
	<!--::::::::::-->
	<!--:MESSAGES:-->
	<!--::::::::::-->
	
	<wsdl:message name="guardarClienteRequest">
		<wsdl:part element="tns:guardarCliente" name="parameters" />
	</wsdl:message>
	<wsdl:message name="guardarClienteResponse">
		<wsdl:part element="tns:guardarClienteResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Multicert">
		<wsdl:operation name="guardarCliente">
			<wsdl:input message="tns:guardarClienteRequest" />
			<wsdl:output message="tns:guardarClienteResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:message name="listarClientesRequest">
		<wsdl:part element="tns:listarClientes" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarClientesResponse">
		<wsdl:part element="tns:listarClientesResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Multicert">
		<wsdl:operation name="listarClientes">
			<wsdl:input message="tns:listarClientesRequest" />
			<wsdl:output message="tns:listarClientesResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:message name="listarClientesComNomeRequest">
		<wsdl:part element="tns:listarClientesComNome" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarClientesComNomeResponse">
		<wsdl:part element="tns:listarClientesComNomeResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Multicert">
		<wsdl:operation name="listarClientesComNome">
			<wsdl:input message="tns:listarClientesComNomeRequest" />
			<wsdl:output message="tns:listarClientesComNomeResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:message name="listarClientesComNifRequest">
		<wsdl:part element="tns:listarClientesComNif" name="parameters" />
	</wsdl:message>
	<wsdl:message name="listarClientesComNifResponse">
		<wsdl:part element="tns:listarClientesComNifResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="Multicert">
		<wsdl:operation name="listarClientesComNif">
			<wsdl:input message="tns:listarClientesComNifRequest" />
			<wsdl:output message="tns:listarClientesComNifResponse" />
		</wsdl:operation>
	</wsdl:portType>
	
	<!--::::::::::-->
	<!--:BINDING::-->
	<!--::::::::::-->
	
	<wsdl:binding name="MulticertSOAP"
		type="tns:Multicert">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="guardarCliente">
			<soap:operation
				soapAction="http://www.multicert.com/Multicert/guardarCliente" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		
	</wsdl:binding>
	<wsdl:service name="Multicert">
		<wsdl:port binding="tns:MulticertSOAP" name="MulticertSOAP">
			<soap:address location="http://www.multicert.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
