mb-network-adapters/mb-assets/mb-assets-inbound/src/main/resources/wsdl/MediaBroadcaster.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.apis.thales.com/MediaBroadcaster/" xmlns:mcb="http://www.apis.thales.com/MediaBroadcasterCommonTypes"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="MediaBroadcaster" targetNamespace="http://www.apis.thales.com/MediaBroadcaster/">
	<wsdl:types>
		<!-- This is a copy from the common assets XSD -->
		<xsd:schema elementFormDefault="qualified"
			xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.apis.thales.com/MediaBroadcasterCommonTypes">

			<xsd:complexType name="MessageId">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="id"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ErrorType">
				<xsd:sequence>
					<xsd:element minOccurs="0" maxOccurs="1" name="errorCode"
						type="xsd:string" />
					<xsd:element minOccurs="0" maxOccurs="1" name="errorMessage"
						type="xsd:string" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<!-- END This is a copy from the common assets XSD END -->
		<xsd:schema targetNamespace="http://www.apis.thales.com/MediaBroadcaster/">
			<xsd:element name="sendContent">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="message" type="tns:Message" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="sendContentResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="messageID" type="mcb:MessageId" />
						<xsd:element name="error" type="mcb:ErrorType"
							maxOccurs="1" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType name="Message">
				<xsd:sequence>
					<xsd:element name="targetArea" type="xsd:string"
						maxOccurs="1" minOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="sendContentRequest">
		<wsdl:part element="tns:sendContent" name="parameters" />
	</wsdl:message>
	<wsdl:message name="sendContentResponse">
		<wsdl:part element="tns:sendContentResponse" name="parameters" />
	</wsdl:message>
	<wsdl:portType name="MediaBroadcaster">
		<wsdl:operation name="sendContent">
			<wsdl:input message="tns:sendContentRequest" />
			<wsdl:output message="tns:sendContentResponse" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MediaBroadcasterSOAP"
		type="tns:MediaBroadcaster">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendContent">
			<soap:operation
				soapAction="http://www.apis.thales.com/MediaBroadcaster/sendContent" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MediaBroadcaster">
		<wsdl:port binding="tns:MediaBroadcasterSOAP" name="MediaBroadcasterSOAP">
			<soap:address location="http://www.apis.thales.com/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
